/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body,
html {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

div.app {
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100vh;
}

.leaflet-container {
  box-sizing: border-box;
  height: 100vh;
}

.leaflet-div-icon {
  background: transparent;
  border: 0px;
  opacity: 0.8;
}

.park-activities {
  margin-block-start: 1rem;
}

.MuiBackdrop-root {
  background-color: transparent !important;
}

.MuiPaper-root {
  /* box-shadow: none !important; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  width: 60%;
}

.MuiBox-root {
  width: 100% !important;
}

.park-content {
  margin: 1rem;
}

.park-image-container {
  margin: 0.5rem;
  text-align: center;
}

.park-image {
  width: 450px;
}

.park-image-title {
  margin-block: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

.park-image-caption {
  font-size: 0.8rem;
  text-align: center;
}
